.biarrow-right-short {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-left: 193px;
  margin-top: 139.0px;
  mix-blend-mode: normal;
  padding: 4.0px 4.0px;
  width: 16px;
}
.group-89 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-width: 1280px;
  opacity: 0.04;
}
.line {
  height: 2627px;
  margin-left: 319px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-4 {
  height: 2627px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-6 {
  height: 2627px;
  margin-left: 109px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-8 {
  height: 2627px;
  margin-left: 318px;
  mix-blend-mode: normal;
  width: 1px;
}
.vector {
  height: 8px;
  mix-blend-mode: normal;
  width: 8px;
}
